<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="./javascripts/libs/jquery.min.js"></script>
	<script src="./javascripts/libs/ethereumjs-tx-1.3.3.min.js"></script>
	<script src="./javascripts/libs/keythereum.min.js"></script>
	<script src="./javascripts/libs/bignumber.js"></script>
	<script type="text/javascript" src="./javascripts/functions.js"></script>
	<script type="text/javascript" src="./javascripts/main.js"></script>
</head>
<body class='container'>
	<fieldset>
		<legend>Config RPC</legend>
		<label for="">RPC ADDRESS</label>
		<input type="text" id="rpc" class='form-control'  placeholder="http://52.24.103.183:8980" value="http://52.24.103.183:8980"><br>
	</fieldset>
	<fieldset>
		<legend>New Account</legend>
		<button onclick="createAccount()" class="btn btn-success">Create New Account</button>
		<pre id="newAccount"></pre>
	</fieldset>  
	<fieldset>
		<form action="/" method="post" id="send_order_form">
		<legend>Send order</legend>
		<div class="form-group">
			<label for="">Your address</label>
			<input type="text" id="maker" name="maker" class='form-control'  placeholder="" value="">
		</div>
		<div class="form-group">
			<label for="">Taker (let this value for anybody)</label>
			<input type="text" id="taker" class='form-control' name="taker"  placeholder="" value="0x0000000000000000000000000000000000000000">
		</div>
		<div class="form-group">
			<label for="">maker Token</label>
			<input type="text" id="makerTokenAddress" name="makerTokenAddress" class='form-control'  placeholder="0x" value="0x6ff6c0ff1d68b964901f986d4c9fa3ac68346570">
		</div>
		<div class="form-group">

			<label for="">taker Token</label>
			<input type="text" id="takerTokenAddress" name="takerTokenAddress" class='form-control' placeholder="0x" value="0xd0a1e359811322d97991e03f863a0c30c2cf029c">
		</div>
		<div class="form-group">

			<label for="">maker Amount</label>
			<input type="text" id="makerTokenAmount" name="makerTokenAmount" class='form-control'  placeholder="" value="10">
		</div>
		<div class="form-group">

			<label for="">taker Amount</label>
			<input type="text" id="takerTokenAmount" name="takerTokenAmount" class='form-control'  placeholder="" value="1"><br>
		</div>
		<div class="form-group">

			<label for="">Expiration time (in hours)</label>
			<input type="text" id="duration" name="duration" class='form-control'  placeholder="" value="10"><br>
		</div>

<!--       <label for="">Private Key</label>
      <input type="text" id="pk"  placeholder=""><br>
      <label for="">Address to</label>
      <input type="text" id="to"  placeholder=""><br> -->
      <br>
      <!-- <button onclick="sendOrder()" class="btn btn-success">Send order</button> -->
      <button class="btn btn-success">Send order</button>
      </form>
      <p id="txid"></p>
  </fieldset>
  <fieldset>
  	<legend>Get Balance</legend>
  	<div class="form-group">
  		<input type="text" id="myaddress" class='form-control' placeholder=""  value="0xae8Bb0D6512a2D50E9bA37D80375F58dCC958731">
  	</div>
  	<button onclick="getBalance()" class="btn btn-success">Get Balance</button>
  	<p id="balance"></p>
  </fieldset>
  <fieldset>
  	<legend>Transaction Id</legend>
  	<div class="form-group">

  		<input type="text" id="tx" class='form-control' placeholder=""  value="">
  	</div>

  	<button onclick="getTransactionId()" class="btn btn-success">Get Transation Id</button>
  	<p id="txresult"></p>
  </fieldset>

</body>
</html>
